{% extends 'base.html.twig' %}

{% block title %}Édition : {{ user.username }}{% endblock %}

{% block body %}

    <h1>Édition de {{ user.username }}</h1>

    {{ form_start(passwordForm) }}
        {{ form_widget(passwordForm) }}
        <button class="btn btn-success btn-left">Éditer</button>
    {{ form_end(passwordForm) }}

    <a href="{{ app.request.headers.get('referer')}}"><button class="btn btn-primary btn-left">Retour</button></a>
    <br><br>

{% endblock %}
