{% extends 'base.html.twig' %}

{% block title %}Édition : {{ user.username }}{% endblock %}

{% block body %}

    <a href="{{ path('users_index') }}"><button class="btn btn-primary">Retour aux utilisateurs</button></a>
    <br>
    <br>

    <h1>Édition de {{ user.username }}</h1>

    {{ form_start(editForm) }}
        {{ form_widget(editForm) }}
        <button class="btn btn-success btn-left">Éditer</button>
    {{ form_end(editForm) }}
        <a href="{{ path('users_edit_password', {id: user.id}) }}"><button class="btn btn-primary btn-left">Changer de mot de passe</button></a>
    {{ form_start(deleteForm) }}
        {% include 'modal/delete.html.twig' with {'message':'Voulez-vous vraiment supprimer cet utilisateur ?'}%}
        <button class="btn btn-danger btn-delete">Supprimer</button>
    {{ form_end(deleteForm) }}

{% endblock %}
