<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Blog - {% block title %}{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <link rel="stylesheet" href="{{ asset('css/lib/bootstrap.min.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('css/template.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css" />

    </head>
    <body>
        <div class="container">
            <div id="top-nav">
                <div class="content">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <span class="username">{{ app.user.username }}</span>
                        <a href="{{ path('logout') }}"><button class="btn btn-danger logout">Déconnexion</button></a>
                    {% else %}
                        <a class="login" href="{{ path("login") }}">Connexion</a>
                    {% endif %}
                </div>
            </div>
            <header>

            </header>
            <nav>
                <ul>
                    <li><a href="{{ path("homepage") }}">Accueil</a></li>
                    {% if is_granted('ROLE_WRITER') %}
                        <li><a href="{{ path("post_index") }}">Articles</a></li>
                        <li><a href="{{ path("categories_index") }}">Catégories</a></li>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <li><a href="{{ path("users_index") }}">Utilisateurs</a></li>
                        <li><a href="{{ path("roles_index") }}">Rôles</a></li>
                    {% endif %}
                </ul>
            </nav>
            <div class="content">
                {% block body %}
                {% endblock %}
            </div>
        </div>

        <script type="text/javascript" src="{{ asset('js/lib/jquery-3.2.1.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/lib/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/lib/nicEdit.js') }}"></script>

        {% block specificJS %}
        {% endblock %}

    </body>
</html>
